[submodule "backend"]
	path = backend
	url = https://github.com/Aashiq-Edavalapati/cloud-traceweave-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Aashiq-Edavalapati/cloud-traceweave-frontend.git
